/* --- CABEÇALHO --- */
.cabecalho-adocao {
    text-align: center;
    padding: 60px 20px 30px;
}

.cabecalho-adocao h1 {
    color: #14532D;
    font-size: 2rem;
    
}

/* --- GALERIA --- */
.galeria-infinita {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
    gap: 30px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}

/* --- PAGINAÇÃO --- */
.paginacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.btn-paginacao {
    background-color: #0284C7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn-paginacao:disabled {
    background-color: #CBD5E1;
    cursor: not-allowed;
}

#pagina-atual {
    font-weight: bold;
    color: #14532D;
}

/* --- Ajuste de layout --- */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

