<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IFAnimal - Adotar</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/adotar.css">

</head>
<body class="fundo-verde">
    <nav class="navbar">
    <div class="logo">
        <img src="/img/inseridos/ifanimal-logo.jpg" alt="IFAnimal Logo">
    </div>
    <ul class="nav-links">
        <li><a href="/views/home.html">INÍCIO</a></li>
        <img src="/img/inseridos/pegada-nav.png" alt="pegada" class="paw-icon">
        <li><a href="/views/adotar.html" class="active">ADOTAR</a></li>
        <img src="/img/inseridos/pegada-nav.png" alt="pegada" class="paw-icon">
        <li><a href="/views/sobre.html">SOBRE NÓS</a></li>
    </ul>
</nav>

    <main>
        <header class="cabecalho-adocao"><h1>Conheça nossos gatinhos</h1></header>
        <section class="galeria-infinita" id="galeria-gatos"></section>
        
        <div class="paginacao-container">
            <button id="btn-anterior" class="btn-paginacao" onclick="mudarPagina(-1)">Anterior</button>
            <span id="pagina-atual">Página 1</span>
            <button id="btn-proximo" class="btn-paginacao" onclick="mudarPagina(1)">Próximo</button>
        </div>
    </main>

    <footer class="footer">
        <p>IFAnimal - Projeto Social. Maceió - AL, Brasil. <a href="/views/admin.html" style="color: #cbd5e1; text-decoration: none; margin-left: 15px; font-size: 0.8rem;">🔒 Área Restrita</a></p>
    </footer>

    <script src="/js/adotar.js"></script>
</body>
</html>